services:
  backend:
    build: ./backend
    container_name: WareHouse
    expose:
      - '8000'
    volumes:
      - ./backend/app/data:/app/app/data
    restart: unless-stopped
    networks:
      - npm_net
networks:
    npm_net:
        name: npm_net
        external: true 
